body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
}

.login {
  display:grid;
}
.loginForm {
  display: grid;
}
.loginForm select {
  margin: 1em;
  padding: 1em;
  font-size: 1em;
}
.voters {
  display:grid;
  grid-template-columns: repeat(auto-fill, 25px);
}
.voters li {
  padding: 0;
}

.voterAvatar {
  height: 25px;
  width: 25px;
  border-radius: 14px;
  margin: 0;
}

.user {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "userInfo asked"
    "userInfo answered";
  grid-row-gap: 1em;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.questionsAsked {
  grid-area: asked;
}
.questionsAnswered {
  grid-area: answered;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "userInfo"
    "option1"
    "option2";
  grid-row-gap: 1em;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.item-info {
  margin: 10px;
  grid-area: userInfo;
  display: grid;
  grid-template-areas:
    "avatar info";
}
.itemAvatar {
  grid-area: avatar;
  justify-self: center;
}
.info {
  grid-area: info;
  align-self: center;
}


.option {
  display: grid;
  border: 3px;
  padding: 10px;
  background-color: #969696;
}
.option1 {
  grid-area: option1;
}
.option2 {
  grid-area: option2;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}



.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

@media (min-width: 600px) {
  .question {
    grid-template-areas:
      "userInfo option1"
      "userInfo option2";
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1em;
  }
  .item-info {
    grid-template-areas:
      "avatar"
       "info";
  }
  .info {
    justify-self: center;
  }

}
