/* Variables */
:root {
  --dark-text: #182628;
  --light-text: #F2F2F2;
  --main-color: #65CCB8;
  --accent-color:#57bA98;
  --dark-accent-color: #3B945E;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--light-text);
  background-color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--light-text);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 0;
  cursor: pointer;
  background-color: var(--accent-color);
  font-size: 1.25em;
  width: 250px;
  position: relative;
  color: var(--light-text);
}

.btn:hover {
  background-color: var(--dark-accent-color);
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.logout .btn {
  margin: 0;
  font-size: 1em;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}
.nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  justify-self: center;
}

.custom-select select {
  display: none;
}
.custom-select {
  background-color: var(--accent-color);
  border: 20px solid var(--accent-color);
  font-size: 1em;
  color: var(--light-text);
  width: 50%;
  justify-self: center
}
.custom-select:hover {
  background-color: var(--dark-accent-color);
  border: 20px solid var(--dark-accent-color);
}

.avatar {
  height: 6em;
  width: 6em;
  border-radius: 6em;
}

.login {
  display:grid;
}
.loginForm {
  display: grid;
}

.logout {
  margin: 1em;
  padding: 10px;
}

.tab-list {
  border-bottom: 5px solid var(--accent-color);
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -5px;
  padding: 1rem;
}

.tab-list-active {
  background-color: var(--accent-color);
  border: solid var(--accent-color);
  border-width: 5px 5px 0 5px;
}

.voters {
  display:grid;
  grid-template-columns: repeat(auto-fill, 50px);
  animation: resize 2000ms ease 2 alternate;
}

@keyframes resize {
  to{
    grid-template-columns: repeat(auto-fill, 25px);
  }
}
.voters li {
  padding: 0;
}

.voterAvatar {
  height: 3em;
  width: 3em;
  border-radius: 3em;
  margin: 0;
}

.user {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "userInfo asked"
    "userInfo answered";
  grid-row-gap: 1em;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.questionsAsked {
  grid-area: asked;
}
.questionsAnswered {
  grid-area: answered;
}

.question {
  max-width: 590px;
  min-width: 250px;
  padding: 1rem;
  display: grid;
  grid-area: question;
  grid-template-areas:
    "option1"
    "option2";
  grid-row-gap: 1em;
  margin: 0 auto;
  border: 5px solid var(--accent-color);
  border-radius: 3px;
}

.question-details {
  max-width: 590px;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "userInfo"
    "question";
  grid-row-gap: 1em;
  margin: 0 auto;
  border: 5px solid var(--accent-color);
  border-radius: 3px;
}

.question-details .question{
  border: none;
}

.item-info {
  margin: 10px;
  grid-area: userInfo;
  display: grid;
  grid-template-areas:
    "avatar info";
}
.itemAvatar {
  grid-area: avatar;
  justify-self: center;
}
.info {
  grid-area: info;
  align-self: center;
}


.option {
  display: grid;
  border: none;
  padding: 2rem;
  cursor: pointer;
  background-color: var(--accent-color);
  font-size: 1em;
  color: var(--light-text);
}

.option:hover {
  background-color: var(--dark-accent-color);
}
.option1 {
  grid-area: option1;
}
.option2 {
  grid-area: option2;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

@media (min-width: 600px) {
  .question-details {
    grid-template-areas:
      "userInfo question";
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1em;
  }
  .item-info {
    grid-template-areas:
      "avatar"
       "info";
  }
  .info {
    justify-self: center;
  }

}
